@{
    ViewBag.Title = "Home Page";
}
<a href="">
    <img src="~/Content/imgs/información_georeeferenciada.jpg" style="width:100%" />
</a>
<hr />
<div class="row">
    <a href="#" class="col-md-3 btn-outline-secondary" >
        <div class="">
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>1,188,671</h3>
        </div>
    </a>
    <a href="#" class="col-md-3 btn-outline-secondary">
        <div class="col-md-3">
            <h2></h2>
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>332,553</h3>
        </div>
    </a>
    <a href="#" class="col-md-3 btn-outline-secondary">
        <div class="col-md-3">
            <h2></h2>
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>64.9%</h3>
        </div>
    </a>
    <a href="#" class="col-md-3 btn-outline-secondary">
        <div class="col-md-3">
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>57,577</h3>
        </div>
    </a>
</div>
<aside class="row" style="padding-bottom:15px;padding-top:15px" id="temasHome">
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0010000000000000" tabindex="165"><span class="inegi-agriganpes" style="color:#009E00;"></span>Agricultura, ganadería y pesca</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="/temas/comercioemp/" tabindex="166"><span class="inegi-comercio" style="color:#268277;"></span>Comercio</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0030000000000000" tabindex="167"><span class="inegi-comercioext" style="color:#268277;"></span>Comercio exterior</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="/temas/construccion/" tabindex="168"><span class="inegi-construccion" style="color:#268277;"></span>Construcción</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0060000000000000" tabindex="169"><span class="inegi-educacion" style="color:#E16C32;"></span>Educación</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="/temas/empleo/" tabindex="170"><span class="inegi-empleo" style="color:#268277;"></span>Empleo y ocupación</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0080000000000000" tabindex="171"><span class="inegi-empresas" style="color:#268277;"></span>Empresas y establecimientos</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0110000000000000" tabindex="172"><span class="inegi-gobierno" style="color:#620042;"></span>Gobierno</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0120000000000000" tabindex="173"><span class="inegi-hogares" style="color:#E16C32;"></span>Hogares y Vivienda</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0130000000000000" tabindex="174"><span class="inegi-imagenes" style="color:#E12F32;"></span>Imágenes del territorio</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0140000000000000" tabindex="175"><span class="inegi-manufacturas" style="color:#268277;"></span>Manufacturas</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0150000000000000" tabindex="176"><span class="inegi-mapas" style="color:#066E5A;"></span>Mapas</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0160000000000000" tabindex="177"><span class="inegi-geodesia" style="color:#009E00;"></span>Marco Geodésico</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="/temas/mg/" tabindex="178"><span class="inegi-mg" style="color:#066E5A;"></span>Marco Geoestadístico</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0180000000000000" tabindex="179"><span class="inegi-ambiente" style="color:#009E00;"></span>Medio ambiente</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="/temas/mineria/" tabindex="180"><span class="inegi-mineria" style="color:#268277;"></span>Minería</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0190000000000000" tabindex="181"><span class="inegi-pibcn" style="color:#05a1a0;"></span>PIB y Cuentas Nacionales</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0200000000000000" tabindex="182"><span class="inegi-poblacion" style="color:#E16C32;"></span>Población</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0210000000000000" tabindex="183"><span class="inegi-indices" style="color:#268277;"></span>Precios</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0220000000000000" tabindex="184"><span class="inegi-salud" style="color:#E16C32;"></span>Salud y Seguridad Social</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0230000000000000" tabindex="185"><span class="inegi-seguridad" style="color:#620042;"></span>Seguridad pública y justicia</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0240000000000000" tabindex="186"><span class="inegi-serviciosnof" style="color:#268277;"></span>Servicios no financieros</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0250000000000000" tabindex="187"><span class="inegi-ciencia" style="color:#268277;"></span>Tecnologías de la información y comunicaciones</a></div></div>
    <div class="col-xs-12 col-sm-4"><div><a href="#" class="temSitio" data-tema="0260000000000000" tabindex="188"><span class="inegi-comunicaciones" style="color:#268277;"></span>Transporte</a></div></div>
</aside>



