@{
    ViewBag.Title = "Home Page";
}
<style>
    a {
        color: dimgray;
    }
    a:hover {
        background-color:transparent;

    }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<a href="">
    <img src="~/Content/imgs/información_georeeferenciada.jpg" style="width:100%" />
</a>
<hr />
<div class="row">
    <a href="#" class="col-md-3 btn-secondary bg-light text-dark">
        <div class="col-md-3">
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>1,188,671</h3>
        </div>
    </a>
    <a href="#" class="col-md-3 btn-secondary bg-light text-dark">
        <div class="col-md-3">
            <h2></h2>
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>332,553</h3>
        </div>
    </a>
    <a href="#" class="col-md-3 btn-secondary bg-light text-dark">
        <div class="col-md-3">
            <h2></h2>
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>64.9%</h3>
        </div>
    </a>
    <a href="#" class="col-md-3 btn-secondary bg-light text-dark">
        <div class="col-md-3">
            <p>
                Población total,
                (Quinquenal 2015)
            </p>
            <h3>57,577</h3>
        </div>
    </a>
</div>
<div class="row container" style="padding-bottom:15px;padding-top:15px">
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">spa</i>Agricultura, ganadería y pesca</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">attach_money</i>Comercio</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">money</i>Comercio exterior</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">build</i>Construcción</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">local_library</i>Educación</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">work</i>Empleo y ocupación</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">place</i>Empresas y establecimientos</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">account_balance</i>Gobierno</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">home</i>Hogares y Vivienda</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">satellite</i>Imágenes del territorio</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">bubble_chart</i>Manufacturas</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">streetview</i>Mapas</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">map</i>Marco Geodésico</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">timeline</i>Marco Geoestadístico</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">local_florist</i>Medio ambiente</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">perm_data_setting</i>Minería</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div>
            <a href="#"><i class="material-icons">account_balance_wallet</i>PIB y Cuentas Nacionales</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 bg-light text-dark" >
        <h3 class="col-md-5">Ultimas Noticias</h3>
        <ul>
            <li>Sesión de Comité estatal 30/06/2019 10:30 Horas Sala "José Armenta Anaya"</li>
            <li>Reunión del grupo de trabajo del SIEGEN, 06/06/2019 11:00 horas Sala C del INEGI</li>
        </ul>
    </div>
    <a href="#" class="col-md-4 btn-outline-secondary bg-light text-dark">
        <div class="col-md-3">
            <h3>Indicadores PED</h3>
            <p>
            </p>
        </div>
    </a>
    <a href="#" class="col-md-3 btn-outline-secondary bg-light text-dark">
        <div class="col-md-3">
            <h3>JEEGMA 2019</h3>
            <p>
            </p>
        </div>
    </a>
</div>


